@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
   <div class="col-12">
       <div class="card rounded-4 shadow-lg">
           <div class="card-header">
               <h1>Seja bem vindo(a)!</h1>
           </div>
           <div class="card-body">
           </div>
       </div>
   </div>
</div>
